.cart_page_main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
}

.cart_header {
    margin-bottom: 0;
}

.amount_and_price {
    font-size: 20px;
    color: gray;
    margin-bottom: 50px;
}

.cart_list {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

.cart_list_item {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 10px rgb(186, 185, 185);
    list-style-type: none;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    height: 100%;
}

.counter_and_rubbish {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
}

.rubbish_bin {
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.counter_and_rubbish img {
    width: 30px;
}

.counter {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.sign {
    font-size: 27px;
    cursor: pointer;
}

.cart_list_item .buying {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;
    width: 200px;
}

.order {
    align-self: center;
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-radius: 10px;
    background-color: rgb(1, 194, 1);
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

@media (max-width: 415px) {
    .cart_page_main {
        padding: 0 5px;
    }

    .cart_list_item {
        display: grid;
        place-items: center;
        row-gap: 20px;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        padding: 20px;
    }

    .cart_list_item > img {
        max-width: 110px;
        max-height: 90px;
    }

    .cart_list_item .description {
        display: none;
    }

    .counter_and_rubbish {
        width: 100%;
        height: 100%;
        align-items: start;
        justify-content: center;
        gap: 25px;
    }

    .counter {
        gap: 5px;
        font-size: 16px;
    }

    .sign {
        font-size: 20px;
    }

    .cart_list_item .buying {
        align-items: start;
    }

    .name {
        margin-bottom: 0;
    }

    .info {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .amount_and_price{
        margin-bottom: 25px;
    }

    .cart_list {
        margin-bottom: 5px;
    }

    .counter_and_rubbish img {
        width: 27px;
    }
}